Archivos que no se subiran al repositorio

# Archivos objeto
*.o

# Archivos ejecutables
*.exe
*.out
*.mod

# Archivos de respaldo
*.bak
*~

# Archivos de configuración de entornos de desarrollo
.vscode/
.idea/
.project